/*CSS du contenu de la card afficher dynamiquement*/

.card-section {
    width: 100%;
    margin: auto;
}

#teddies-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teddies-wrapper-shop {
    margin-top: 100px;
    margin-bottom: 100px;
}

.first-title_cardsection {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: #E1285A;
    padding-bottom: 1em;
    text-align: center;
}

.second-title_cardsection {
    line-height: 1.5em;
    text-align: center;
}

.content-product {
    position: relative;
    max-width: 400px;
    max-height: 439px;
    margin: 4em 4em;
}

.img-product {
    width: 100%;
    height: 300px;
    border-radius: 25px;
    filter: brightness(100%);
    transition: 400ms ease-in-out;
}

.img-product:hover {
    filter: brightness(80%);
    transition: 400ms ease-in-out;
}

.botside-product {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.name-product {
    color: #5319A7;
    font-size: 1.1em;
}

.price-product {
    color: #E1285A;
    font-size: 1.2em;
}

.content-product:nth-child(4),
.content-product:nth-child(5){
    margin-bottom: 0;
}

.content-img-product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-in-out;
}

.content-img-product::before {
    content: "quick shop";
    position: absolute;
    z-index: 50;
    font-size: 0.9em;
    font-weight: 700;
    color: #fff;
    background-color: #E1285A;
    padding: 15px 15px;
    border-radius: 25px;
    text-transform: uppercase;
    visibility: hidden;
    transition: 200ms ease-in-out;
    opacity: 0.6;
}

.content-img-product:hover::before {
    visibility: visible;
    transition: 200ms ease-in-out;
    opacity: 0.9;
    -webkit-box-shadow: -1px 24px 21px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 24px 21px -15px rgba(0,0,0,0.75);
    box-shadow: -1px 24px 21px -15px rgba(0,0,0,0.75);
}

.content-popover-item {
    margin-top: 2%;
}

.content-btn-popover {
    position: relative;
    display: flex;
    justify-content: center;
    height: 51px;
}

.btn-popover {
    width: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F4F9;
    padding: 15px;
    border-radius: 25px;
    color: #867998;
    cursor: pointer;
}

.btn-popover:hover {
    border: 1px solid #867998;
    padding: 14px;
}

.fa-chevron-down {
    font-size: 0.7em;
}

.content-text-content-btn-popover {
    padding-left: 5px;
}

.content-chevron-content-btn-popover {
    padding-right: 5px;
}

@media (max-device-width : 885px) {

    .content-product {
        margin: 0;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .price-product {
        font-size: 1em;
        font-weight: bold;
    }
}


